@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

